<nav>
    <div class="site-title">
      <a href="/"><h1>Investigacion</h1></a>
      <p>Bases de Datos II</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">Sobre Nosotros</a></li>
      <li><a href="/blogs/create">Nuevo Blog</a></li>
    </ul>
  </nav>