<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Este es el demo de la Investigacion para el curso Bases de datos II.</p>
    <p>Tomas Acuna</p>
    <p>Fabian Vivez</p>
    <p>Bryan Campos</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>